.battery {
  position: relative;
  container-name: hero-banner;
  container-type: inline-size;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  &::after {
    content: '';
    position: absolute;
    top: -16px;
    right: calc(50% - (25% / 2));
    border-radius: 8px;
    height: 12px;
    width: 25%;
    background: var(--battery-background);
  }
}

.batteryVis {
  outline: 4px solid var(--battery-background);
  outline-offset: -4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  flex: 1;
  font-weight: bold;
  font-size: 1.5rem;
  background: var(--battery-background);
  overflow: hidden;
  transition: outline-color 1s;

  &.negative {
    outline-color: var(--battery-foreground-very-low);
  }
}

.batteryFill {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--battery-foreground);
  transition: height 1s;

  &.low {
    background: var(--battery-foreground-low);
  }

  &.veryLow {
    background: var(--battery-foreground-very-low);
  }
}

.batteryInfo {
  z-index: 10;
}

@property --targetPercent {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.batteryPercent {
  transition: --targetPercent 1s;
  counter-reset: targetPercent var(--targetPercent);

  &::after {
    content: counter(targetPercent) '%';
  }
}

@property --targetValue {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

@property --targetValueDecimal {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.batteryPercent {
  transition: --targetPercent 1s;
  counter-reset: targetPercent var(--targetPercent);
}

.batteryValue {
  font-size: 1rem;
  font-weight: normal;
  transition: --targetValue 1s, --targetValueDecimal 1s;
  counter-reset: targetValue var(--targetValue) targetValueDecimal var(--targetValueDecimal);

  &::after {
    content: '($' counter(targetValue) '.' counter(targetValueDecimal) ')';
  }
}

@container hero-banner (width > 150px) {
  .batteryVis {
    border-radius: 0.8rem;
    font-size: 2rem;
  }
}

@container hero-banner (width > 300px) {
  .batteryVis {
    border-radius: 1.5rem;
    font-size: 3rem;
  }
}
