.battery {
  position: relative;
  container-name: hero-banner;
  container-type: inline-size;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  &::after {
    content: '';
    position: absolute;
    top: -16px;
    right: calc(50% - (25% / 2));
    border-radius: 8px;
    height: 12px;
    width: 25%;
    background: var(--battery-background);
  }
}

.batteryVis {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  flex: 1;
  font-weight: bold;
  font-size: 1.5rem;
  background: var(--battery-background);
  overflow: hidden;
}

.batteryFill {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--battery-foreground);
  transition: height 0.5s ease-out;

  &.low {
    background: var(--battery-foreground-low);
  }

  &.veryLow {
    background: var(--battery-foreground-very-low);
  }
}

.batteryInfo {
  z-index: 10;
}

.batteryValue {
  font-size: 1rem;
  font-weight: normal;
}

.bolt {
  height: 1em;
}

@container hero-banner (width > 150px) {
  .batteryVis {
    border-radius: 0.8rem;
    font-size: 2rem;
  }
}

@container hero-banner (width > 300px) {
  .batteryVis {
    border-radius: 1.5rem;
    font-size: 3rem;
  }
}
