.appLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    display: block;
    height: 1rem;
    width: 1rem;
  }

  & h1 {
    & img {
      display: block;
    }
  }
}

.battery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.spendForm {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  font-size: 1.25rem;

  & button {
    border-radius: 8px;
    border: 0;
    padding: 0.75rem 1rem;
    color: white;
    background: var(--action-primary);
  }
}

.controls {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
