.battery {
  padding-right: 5%;
  container-name: hero-banner;
  container-type: inline-size;
}

.batteryVis {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  aspect-ratio: 1/0.44;
  max-width: 500px;
  height: auto;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: monospace;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: -5%;
    border-radius: 8px;
    width: 4%;
    height: 25%;
    background: var(--battery-background);
  }
}

.bolt {
  height: 1em;
}

@container hero-banner (width > 150px) {
  .batteryVis {
    border-radius: 0.8rem;
    font-size: 2rem;
  }
}

@container hero-banner (width > 300px) {
  .batteryVis {
    border-radius: 1.5rem;
    font-size: 3rem;
  }
}
